/* USER CONTROLLER*/
body{
	background-image: url("../images/background.png");
	background-size: cover;
}


#navMenu{
	height: 15%;
}

#navmenu a{
	float: bottom;
	font-size: 25px;
}

#navmenu li{
	display: block;
	margin-right: 40px;
	margin-left: 40px;
}

#navmenu li a{
	margin-top: 40px;
}

.radio-button{
	margin: 20px;
}


.container{
	background-color: #f5f4ff;
	border-radius: 25px;
	margin-top: 10%;
}


#createUser{
	width: 400px;
	padding: 95px;
}

#loginContainer{
	display: block;
	padding: 40px;

}

#createPerson, #createShelter{
	width: 400px;
	padding: 75px;
}

#editPerson{
	width: 400px;
	padding: 60px;
}


/* CORE */
.invalid{
	color: red;
}


#listAppointments{
	height: auto;
	width: 600px;
}

.appointment{
	width:auto;
	padding: 20px;
	margin-bottom: 5px;
	border-style: solid;
	border-radius: 10px;
	border-color: #cce6ff;
}

#createAppointment{
	width: 900px;
	padding-left: 15px;
	padding-top: 15px;
}

#comment, #address{
	padding-left: 25px;
}

.requests{
	margin-left: 25%;
	margin-top: 10%;
}
.requests li{
	margin-top: 2px;
	border-style: solid;
	border-color:grey;
}

#accept{
	color:green;
}
#reject{
	color:red;
	margin-left: 40px;
}

.see{
	margin-left: 30px;
}





/*boostrap panel*/
.panel {
  padding: 15px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-heading {
  padding: 10px 15px;
  margin: -15px -15px 15px;
  font-size: 17.5px;
  font-weight: 500;      
  background-color: #f5f5f5;
  border-bottom: 1px solid #dddddd;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.panel-footer {
  padding: 10px 15px;
  margin: 15px -15px -15px;
  background-color: #f5f5f5;
  border-top: 1px solid #dddddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.panel-primary {
  border-color: #428bca;
}

.panel-primary .panel-heading {
  color: #ffffff;
  background-color: #428bca;
  border-color: #428bca;
}

.panel-success {
  border-color: #d6e9c6;
}

.panel-success .panel-heading {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.panel-warning {
  border-color: #fbeed5;
}

.panel-warning .panel-heading {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #fbeed5;
}

.panel-danger {
  border-color: #eed3d7;
}

.panel-danger .panel-heading {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.panel-info {
  border-color: #bce8f1;
}

.panel-info .panel-heading {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}